<header>
	<h1>Jenna Frechette</h1>
</header>
<body>
<div class="container-fluid" style="text-align: center; padding-top: 2%">
<div class="row">

		<%= image_tag('jenna2.png', :class => 'front-photos') %>
		<%= image_tag('jenna1.jpg', :class => 'front-photos1') %>

		<%= image_tag('jenna4.png', :class => 'front-photos') %>
		<%= image_tag('jenna3.png', :class => 'front-photos1') %>

	</div>
</div>
</body>
<footer>
	<%= render 'layouts/footer' %>
</footer>	
